{% extends 'core.html' %}




{% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'subjects.js') }}"></script>
{% endblock %}



{% block content %}


    
    <div class="row justify-content-center align-items-center" id = "subject-content" style = "display: none;">
        
        
        {% for item in items %}
            <div class="col-auto align-self-center">
                <a data-url="/questions/{{ item.subject }}" class="subject-link">
                    <button id="button-correct" class="btn btn-{{ item.color }} btn-huge btn-lg mt-3">{{ item.subject }}</button>
                </a>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}