<html>
    <head>
        <title>FlashCards</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'default.css') }}"/> 
        {% block header %}{% endblock %}

    </head>
    <body>
        
        <nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
            <a class="navbar-brand" href="#">FlashCards</a>
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="nav-link" id="subjects-button">Questions</a></li>
                    <li><a href="/selection" class="nav-link" id="subjects-button">Tag Selection</a></li> 
                </ul>
              </div>
          </nav>
        
          {% block content %}{% endblock %}

    </body>
</html>
