{% extends 'core.html' %}


{% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'login.js') }}"></script> 
{% endblock %}


{% block content %}


<div id = "sign-in-screen" class="container">
            
    <div class="row justify-content-center align-items-center my-5">
        
        <div class="col-auto align-self-center">
            
            <div id="sign-in-text" class="card text-white bg-warning" style="max-width: 18rem;">
                
                <div class="card-body" id="card-please-sign-in">
                    <p class="card-text" id="sign-in-text">Please sign in to use the app</p>
                </div>
                
                <div class="card-body" style="display: none;" id="card-unauthorised">
                    <p class="card-text" id="sign-in-text">Unauthorised User !</p>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>


<div style="display: none;">
    <form id="login-form" action="{{ LOCATION }}" method="post">
        <input type="hidden" id="token" name="token" value="">
        <input type="submit">
    </form>
</div>

{% endblock %}