<html>
    <head>
        <title>FlashCards</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

                
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'login.js') }}"></script> 

    </head>
    <body>
        
        <div id="button-signin" class="g-signin2" data-onsuccess="onSignIn" data-theme="Light"></div>
        
        <div style="display: none;">
            <form id="login-form" action="/session" method="post">
                <input type="hidden" id="token" name="token" value="">
                <input type="submit">
            </form>
        </div>
        
    </body>
</html>





